In [3]:
#This code demonstrates:
#   reading a CSV file loctaed at URL via requests library
#   & displaying each line with a line number  
import requests

link = "https://raw.githubusercontent.com/gheniabla/datasets/master/fips.csv"
resp = requests.get(link)
content = resp.text
lines = content.splitlines()
line_num =1
for line in lines:
    print(F"{line_num} ===> {line}")
    line_num = line_num + 1

1 ===> state,abbr,fips_char
2 ===> Alabama,AL,01
3 ===> Alaska,AK,02
4 ===> Arizona,AZ,04
5 ===> Arkansas,AR,05
6 ===> California,CA,06
7 ===> Colorado,CO,08
8 ===> Connecticut,CT,09
9 ===> Delaware,DE,10
10 ===> Florida,FL,12
11 ===> Georgia,GA,13
12 ===> Hawaii,HI,15
13 ===> Idaho,ID,16
14 ===> Illinois,IL,17
15 ===> Indiana,IN,18
16 ===> Iowa,IA,19
17 ===> Kansas,KS,20
18 ===> Kentucky,KY,21
19 ===> Louisiana,LA,22
20 ===> Maine,ME,23
21 ===> Maryland,MD,24
22 ===> Massachusetts,MA,25
23 ===> Michigan,MI,26
24 ===> Minnesota,MN,27
25 ===> Mississippi,MS,28
26 ===> Missouri,MO,29
27 ===> Montana,MT,30
28 ===> Nebraska,NE,31
29 ===> Nevada,NV,32
30 ===> New Hampshire,NH,33
31 ===> New Jersey,NJ,34
32 ===> New Mexico,NM,35
33 ===> New York,NY,36
34 ===> North Carolina,NC,37
35 ===> North Dakota,ND,38
36 ===> Ohio,OH,39
37 ===> Oklahoma,OK,40
38 ===> Oregon,OR,41
39 ===> Pennsylvania,PA,42
40 ===> Rhode Island,RI,44
41 ===> South Carolina,SC,45
42 ===> South Dakota,SD,46
43 ===> Tennessee,TN,47
44 ===> Texas,TX,48
45 ===> Utah,UT,49
46 ===> Vermont,VT,50
47 ===> Virginia,VA,51
48 ===> Washington,WA,53
49 ===> West Virginia,WV,54
50 ===> Wisconsin,WI,55
51 ===> Wyoming,WY,56
52 ===> American Samoa,AS,60
53 ===> Guam,GU,66
54 ===> Northern Mariana Islands,MP,69
55 ===> Puerto Rico,PR,72
56 ===> Virgin Islands,VI,78

In [4]:
#This code demonstrates:
#   reading a CSV file locotaed at URL via pandas library
 
import pandas as pd
link = "https://raw.githubusercontent.com/gheniabla/datasets/master/fips.csv"

fips = pd.read_csv(link)
display(fips)
print(fips.head(5))

                       state abbr  fips_char
0                    Alabama   AL          1
1                     Alaska   AK          2
2                    Arizona   AZ          4
3                   Arkansas   AR          5
4                 California   CA          6
5                   Colorado   CO          8
6                Connecticut   CT          9
7                   Delaware   DE         10
8                    Florida   FL         12
9                    Georgia   GA         13
10                    Hawaii   HI         15
11                     Idaho   ID         16
12                  Illinois   IL         17
13                   Indiana   IN         18
14                      Iowa   IA         19
15                    Kansas   KS         20
16                  Kentucky   KY         21
17                 Louisiana   LA         22
18                     Maine   ME         23
19                  Maryland   MD         24
20             Massachusetts   MA         25
21                  Michigan   MI         26
22                 Minnesota   MN         27
23               Mississippi   MS         28
24                  Missouri   MO         29
25                   Montana   MT         30
26                  Nebraska   NE         31
27                    Nevada   NV         32
28             New Hampshire   NH         33
29                New Jersey   NJ         34
30                New Mexico   NM         35
31                  New York   NY         36
32            North Carolina   NC         37
33              North Dakota   ND         38
34                      Ohio   OH         39
35                  Oklahoma   OK         40
36                    Oregon   OR         41
37              Pennsylvania   PA         42
38              Rhode Island   RI         44
39            South Carolina   SC         45
40              South Dakota   SD         46
41                 Tennessee   TN         47
42                     Texas   TX         48
43                      Utah   UT         49
44                   Vermont   VT         50
45                  Virginia   VA         51
46                Washington   WA         53
47             West Virginia   WV         54
48                 Wisconsin   WI         55
49                   Wyoming   WY         56
50            American Samoa   AS         60
51                      Guam   GU         66
52  Northern Mariana Islands   MP         69
53               Puerto Rico   PR         72
54            Virgin Islands   VI         78

        state abbr  fips_char
0     Alabama   AL          1
1      Alaska   AK          2
2     Arizona   AZ          4
3    Arkansas   AR          5
4  California   CA          6